<!DOCTYPE html>
<html>
  <head>
    <title>DinoRun by Technodactyl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=ENV['GTAG']%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%=ENV['GTAG']%>');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
